
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Header</h2>

<h1>This is the GIT changes 1</h1>
This is the features master visualstudio 01 branch changes

This is the changes from visual studio 03 branch

this changes will be from command prompt